body {
	background-color: #2FCD85;
	margin: 0;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.box {
	width: 570px;
	height: 370px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.box-border {
	border: 1px solid #c5c5c5;		
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
}

.col-6 {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 285px;
}

.close {
	align-self: flex-end;
	background: none;
	border: none;
	font-size: 20px;
	color: #929292;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	width: 100%;
	margin-top: 20px;
	outline: none;
	color: grey;
	font-size: 18px;
}

input:focus {
	outline: none;
}

*:focus {
	outline: none;
}

.sign-form > input:focus {
	-webkit-animation-name: inputFocus;
	-webkit-animation-duration: 2s;
	animation-name: inputFocus;
	animation-duration: 2s;
	border-bottom: 2px solid blue;
}

.sign {
	font-size: 46px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
}

.sign-form {
	height: 250px;
}

.btn-password {
	background: none;
	border: none;
	align-content: center;
	float: right;
	font-size: 10px;
}

.left {
	justify-content: initial;
}

.sign-area {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: center;
}

.next {
	align-self: center;
	padding: 20px;
	width: 190px;
	background-color: #3554D1;
	color: white;
	border-radius: 50px;
	border: none;
	font-size: 22px;
}

.self-center {
	align-self: center;
}	

.txt-sm {
	font-size: 11px;
	margin-top: 11px;
}

.success{
	display: none;
	color: white;
	background-color: #0082e2;

}

.error{
	display: none;
	color: white;
	background-color: #ff0033;
}

.no-match {
	display: none;
	color: white;
	background-color: #ffcc33;
}

.font-text {
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
}


.btn-password,.next, .close {
	cursor: pointer;
}

.btn-password:hover {
	color: blueviolet;
}

.ml {
	margin-left: 25px;
}

.center {
	text-align: center;
}

::-webkit-input-placeholder { 
  color: lightgray;
}
::-moz-placeholder { 
  color: lightgray;
}
:-ms-input-placeholder { 
  color: lightgray;
}
:-moz-placeholder { 
  color: lightgray;
}



@-webkit-keyframes inputFocus {
	from   {border-bottom:2px solid blueviolet;}
	to  {border-bottom:2px solid blue;}
}

@keyframes inputFocus {
	from   {border-bottom:2px solid blueviolet;}
	to  {border-bottom:2px solid blue;}
}



